---
layout: internal
---

{% assign services = site.pages | where: "categories", "service" %}

<!-- MAIN -->
<main class="main">
    <div class="row">
        <div class="large-4 columns">
            <div class="section">
                {{ content }}
            </div>
        </div>
        <div class="large-8 columns">
            <ul class="media-tiles medium-block-grid-2">
            {% for item in services %}
                <li>{% include media_tile_image.html %}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</main> <!-- .main -->